* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* header */
.header {
    border-bottom: 1px solid gray;
}

/* main */
.main {
    min-height: 100vh;
}

/* products */
.inner-title {
    color: green;
}

img {
    width: 100%;
    /* max-width: 300px; */
    display: block;
    margin: auto;
}

.product-item {
    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
}

.inner-content {
    padding: .5rem;
}

.inner-price-new {
    color: green;
}

.inner-price-old {
    color: red;
    text-decoration: line-through;
}

.inner-discount {
    display: inline-block;
    background-color: red;
    color: white;
    padding: .2rem .5rem;
    border-radius: 5px;
}

.sub-menu ul {
    display: none;
    background-color: rgb(208, 208, 208);
    width: 100%;
}

.sub-menu ul li a {
    display: block;
    padding: 1rem;
    width: fit-content;
}

.sub-menu,
.sub-menu li {
    position: relative;
}

li:hover>ul {
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
}

/* footer */
.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
}

.chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

.chat-box {
    height: 500px;
    flex-grow: 1;
    overflow-y: auto;
    margin: 10px 0;
}

.message {
    border-radius: 10px;
    padding: 10px;
}

.message-block {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.message-block.outgoing {
    margin-left: auto;
}

.message-incoming {
    background-color: antiquewhite;
}

.message-outgoing {
    background-color: palevioletred;
    color: white;
}

.chat-icon {
    position: absolute;
    bottom: 60px;
    right: 40px;
}

.hide {
    display: none;
}

.box-typing {
    display: flex;
    flex-direction: column;
}

.inner-dots {
    background-color: rgb(219, 219, 219);
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    width: 50px;
    padding: 5px 0;
}

.inner-dots span {
    display: block;
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
}
.custom-file-container .label-container {
    display: none !important;
}

.custom-file-container .input-container {
    display: none !important;
}

.custom-file-container .image-preview {
    height: auto !important;
}

.user-status {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 0;
    background-color: rgb(8, 156, 0);
}

.user-status[status="online"] {
    opacity: 1;
}